/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
main {
  overflow: hidden;
  background-color: #c5aee5;
  font-size: medium;
}
#container {
  padding: 100px;
  background-color: #c5aee5;
  mask-border-width: 0px;
}
#pomodoro {
  padding: 100px;
  background-color: beige;
}
#playPomodoro {
  background-color: beige !important;
}
html {
  background-color: #c5aee5;
}

title {
  text-emphasis: bold;
}
button {
  border-radius: 50px;
}
