
<!doctype html>
<html lang="en">
  <head>
    <title>Website</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div id="container" class="container-fluid justify-content-center">
		<div id="pomodoro" class="container">
			<h1 class="text-center">
				<span id="title">Pomodoro Clock</span>
			<h1>
			<div id="setTimes" class="container">
				<div class="row" id="header">
					<div id="sessionTime" class="col-sm-6 block-center text-center time">
						<b>Session Time</b><p id="computerScore1">25</p> 
						<div class="block-center text-center" role="group" aria-label="Basic example">
							<button class="btn btn-secondary" value="plus1" onclick="rps1(1)">plus</button> 
							<button class="btn btn-secondary" value="plus2" onclick="rps1(2)">minus</button> 
						</div>
					</div>	
					<div id="sessionTime" class="col-sm-6 block-center text-center time">
						<b>Break Time</b><p id="computerScore2">5</p> 
						<div class="block-center text-center" role="group" aria-label="Basic example">
							<button class="btn btn-secondary" value="plus1" onclick="rps2(1)">plus</button> 
							<button class="btn btn-secondary" value="minus2" onclick="rps2(2)">minus</button> 
						</div>
					</div>	
				</div>
			</div>
			<div id="pomodoro" class="playPomodoro">
				<div class="row">
						
					<div class="row">

					</div>
					<div class="row">

					</div>
					<div class="row">

					</div>

				</div>
			</div>
		</div>	
	</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script> 
	var overall_time = 25;
    function rps1(x) {
		var computerScore = document.getElementById('computerScore1');
    	var number = computerScore.innerHTML;
		if (x==1) {

    		number++;
    		computerScore.innerHTML = number;
		} else {
	
    		number--;
    		computerScore.innerHTML = number;
		}
    	
}
	var overall_time = 5;
    function rps2(x) {
		var computerScore = document.getElementById('computerScore2');
    	var number = computerScore.innerHTML;
		if (x==1) {

    		number++;
    		computerScore.innerHTML = number;
		} else {
	
    		number--;
    		computerScore.innerHTML = number;
		}
    	
}
    </script>
  </body>
</html>